@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&display=swap');

/* font-family: "Lobster", sans-serif;
  font-family: "Anton", sans-serif;
 */
:root {
    background: #3A5D8C #A6A6A6 #F28705 #F27405 #0D0D0D #3A5D8C50;
    ;
}

.site {
    width: 100%;
    max-width: 1200px;

}

hr {
    width: 80px;
    height: 4px;
    background: #F27405;
    border: none
}


h2 {
    line-height: 70px;
    /* altura da linha  */
    font-size: 35pt;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-family: "Lobster", sans-serif;
    color: #3A5D8C;


}

h3 {
    line-height: 70px;
    /* altura da linha  */
    font-size: 20pt;
    text-align: center;
    font-weight: bold;
    margin-top: 6px;
    font-family: "Lobster", sans-serif;
    color: #3a5d8c;

}

h4 {
    font-size: 15pt;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    font-family: "Lobster", sans-serif;
    color: #3A5D8C
}




header {
    width: 100%;
    background-color: #3A5D8C50;
}


header .site {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

header h1 {
    width: 172px;
    height: 100px;
    background: url("../img-innova/logo.png");
    background-size: 100% 100%;
    text-indent: -9999px;
    /* ele serve para sumir o texto que foi colocado no html no lugar
     dele colocamos o background imagem e o text-indent: -9999px; serve para tirar esse texto  
 */
    margin: 5px 0;

}

header ul {
    display: flex;
}

header ul li {
    font-size: 20pt;
    /* a maioria das parte do header ou conteúdo em si do site o texto é pt  */
    padding: 10px;

    margin: 10px;
    border-radius: 10px 5px 10px 5px;
    text-transform: uppercase;
    /*todos as letras M */
    font-family: "Anton", sans-serif;
    ;
}

header ul li.active {
    border-bottom: #F27405 solid 2px;
    border-right: #F27405 solid 2px;
}

header ul li a {
    text-decoration: none;
    /* é possivel coloca esse texto decor... no reset que dá o mesmo resultado */
    color: #3A5D8C;
}

header ul li a:hover {
    color: #F27405;
}
header .abrirMenu,
header .fecharMenu{
    display: none; 
}
/* sumir do parte da tela inteira para não ter */

header nav button:last-child{
    display: none;
}


header button {
    width: 80px;
    height: 80px;
    background: transparent;
    border: 0;
}

header button i {
    font-size: 40px;
    color: #3A5D8C;
}

header button i:hover {
    color: #F27405;
    font-size: 50px;
    cursor: pointer;
}

.banner {
    width: 100%;
    height: 620px;


}

.banner div {
    height: 100%;
}

.banner h2 {
    position: relative;
    top: -60%;
    line-height: 100px;
    color: #3A5D8C;
    font-size: 50pt;
    letter-spacing: 10px;
    /* espaçamento entre letras */

}


.banner img {
    width: 100%;
    height: 620px;

}

.banner .slick-prev {
    left: 25px;
    z-index: 999;
    /* o icone estava para trás 
    o z-index serve para coloca a frente do banner */
}

.banner .slick-next {
    right: 25px;
    z-index: 999;
}

.banner .slick-prev::before,
.banner .slick-next::before {
    font-size: 35px;
    opacity: .50;
    color: #F27405;
}

.banner .slick-dots {
    bottom: 25px;
}

.banner .slick-dots li button::before {
    font-size: 15px;
    color: #F27405;
}

/* serviço */

.servico {
    padding: 40px 0px;
}

.servico .site {
    margin: 0 auto;
    text-align: center;
}



.servico .conteudoServico {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.servico .conteudoServico div {
    width: 370px;
    height: 580px;
    border: #F27405 solid 2px;
    background: #f2870520;
    overflow: hidden;
    /* hidden corta o texto dentro da div e o scroll coloca efeito rolagem de texto */

}

.servico img {
    width: 100%;
    height: 240px;
}

.servico p {
    margin: 18px;
    font-size: 13pt;
    text-align: justify;
    font-family: "Anton", sans-serif;
    color: #0D0D0D;

}

/* Sobre */
.sobre {
    height: 700px;
}

.sobre .site {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;


}

.sobre img {
    width: 50%;
    height: 100%;
    background: green;
}

.sobre p {
    margin: 50px;
    font-size: 15pt;
    line-height: 25px;
    letter-spacing: 2px;
    /* espaçamento entre letras  */
    text-align: justify;
    /* ele fica ao centro */
    font-family: "Anton", sans-serif;

}

/* equipe */

.equipe {
    margin-top: 14px;
    background: #3A5D8C50;
    padding: 40px 0px;


}

.equipe .site {

    margin: 0 auto;


}

.site h2 {
    margin: 7px 10pc;
}


.equipe .site .conteudoEquipe {
    width: 99%;
    display: flex;
    justify-content: space-between;
}

.equipe .site .conteudoEquipe .caixa {
    width: 500px;
}

.equipe .site .conteudoEquipe .caixa div {
    display: flex;
    margin: 15px 0;
}

.equipe .site .conteudoEquipe .caixa div div {
    flex-direction: column;
    width: 50%;

}

.equipe .site .conteudoEquipe .caixa>div:hover {
    background: #3a5d8c10;
    border-radius: 50px;
}

.equipe img {
    width: 300px;
    height: 200px;
    background: green;

}

.caixa h4 {
    margin: 20px;
    font-size: 15pt;
    line-height: 25px;
    letter-spacing: 1px;
    /* espaçamento entre letras  */
    text-align: center;


    /* justify ele fica ao centro */

}

footer {

    padding-top: 20px;

}

footer .site {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;


}

footer div {
    width: 50%;
}

footer img {
    min-width: 60px;
    min-height: 60px;
    background: green;
    margin: 0 20px;
    border-radius: 70px;
}

footer nav {
    width: 50%;
    display: flex;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12pt;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase
}

footer ul li {
    margin: 0 15pt;
}

footer ul li a {
    color: #3A5D8C;
    font-weight: bolder;
}

footer p {
    text-align: center;
    padding: 10px 0;
    font-size: 10pt;
    font-family: 'Lobster', sans-serif;
    background: #F27405;
    color: white;

}

footer i {
    font-size: 60px;
    text-align: center;
    margin: 20px 10px 20px 10px;
    color: #3A5D8C
}

.contato .site{
    margin: 0 auto;  
   
}
.contato form{
    display: flex;
    width: 100%;

}
.contato form div{
    width: 50%;

}
.contato form label{
    color: #F28705;
    font-family: "Anton", sans-serif;
    font-size: 15pt;
    line-height: 30px;

    
}
.contato form input {
    width: 90%;
    font-family: "Anton", sans-serif;
    font-size: 12pt;
    color: #3A5D8C;
    height: 30px;
}
.contato form textarea {
    width: 90%;
    font-family: "Anton", sans-serif;
    font-size: 12pt;
    color: #3A5D8C;
    height: 110px;
    resize: none;     /* tira o ajuste da caixa  */
    margin-bottom: 20px;

}
.contato form div div {
    display: flex;
    width: 90%;
    justify-content: space-between;

}

.contato form div div input{
    width: 150px;
    height: 50px;
    font-size: 15pt;
    background: #F28705;
    border-radius: 0px 20px;
    border: #3a5d8c 1px solid;
    
}



/*                                      */
/* responsividade 1024px               */

@media (max-width:1024px) {
    .banner {
        height: 460px;

    }

    .banner h2 {
        top: -67%;
    }

    .servico {
        padding: 20px 0px;
    }

    .servico .conteudoServico {
        margin-top: 60px;
    }

    .sobre {
        height: 430px;
    }

    .sobre p {
        width: 91%;
        margin: 28px
    }

    .equipe {
        padding: 16px 0px;
    }

    .equipe img {
        width: 233px;
        height: 185px
    }

    footer i {
        font-size: 40px;
    }

    .contato form{
        flex-direction: column;


    }
    .contato form div{
        width: 95%;
        margin-left: 5%;

    }
    .contato form div div{
        margin: 0;
    }
    
}

/*                                      */
/* responsividade 768px               */

@media(max-width:768px) {
    .servico .conteudoServico div {
        height: 576px;
    }

    .servico h3 {
        font-size: 16pt;
    }

    .servico img {
        height: 190px;
    }

    .servico p {
        font-size: 12pt;
    }



    .sobre article div {
        width: 50%;
        margin: 4px
    }

    .sobre p {
        margin: 0 26px;
        font-size: 12pt;
        width: 89%;
    }

    .equipe .site .conteudoEquipe {
        flex-direction: column;
        align-items: center;
    }

    footer i {
        font-size: 40px;
    }

    footer nav {
        width: 60%;
    }

    footer ul li a {
        font-size: 9pt;
    }


    /*                                      */
    /* responsividade 480px - cell               */

}

@media(max-width:480px) {
    h3{
        font-size: 18pt;
    }

    header nav{
        position: fixed;
        background: #597fb2 ;
        top: 0;
        right: -250px;
        height: 100%;
        width: 50%;
        z-index: 9999;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: right 0, 5s ease-out;
        
    }
    header nav button:first-child{
        margin-right: auto;
    }
    /* first-child: primeiro filho o primeiro icone de botão */
    
    header .abrirMenu,
    header .fecharMenu{
        display: block; 
    }
/* sumir do parte da tela inteira para não ter */

    header nav button:last-child{
        display: block;
    }

    header nav ul{
        flex-direction: column;
        
    }
    header ul li a{
        color: #ffff;
    }
    header button i{
        color: #cfcfcf; 
    }
    
    .menuAtivo header nav{
        right: 0;
    }
    header .loginNormal,.banner{
        display: none;
    }

    .site h2 {
        margin: 0;
    }
    .servico .conteudoServico{
        flex-direction: column;
        align-items: center;
    }
    
    .servico .conteudoServico div{
        width: 90%;
        height: 513px;

    }
    .sobre{
        height: auto;
    }
    
    .sobre .site{
        flex-direction: column;

    }
    .sobre .site p{
       
        font-size: 11pt;

    }
    .sobre p{
        width: 91%;
        margin: 17px;
    }
    .sobre article div{
        width: 97%;
        
    }
    .equipe img{
        width: 170px;
        height: 120px;
    }
    .equipe .site .conteudoEquipe .caixa div div{
        margin: 0 0 0 2px
    }
    .equipe .site .conteudoEquipe .caixa{
        width: 90%;
    }
    .equipe .site .conteudoEquipe .div{
       margin-top: 0;
    }
    .caixa h4{
        letter-spacing: 0;
        margin: 4px;
        font-size: 15pt
    }
    footer{
        padding-top: 7px;
    }
    footer .site{
        margin: 5px auto;
    }
    footer .site div{
        width: 60%;
    }

    Footer i{
        margin: 20px 3px 20px 3px;
    }

    footer nav{
        width: 40%;
        
    }
    footer ul {
        flex-direction: column;
    }
    footer ul li{
        margin: 0 auto;

    }

}

